.address {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:768px) {
        margin-left: 70px;
        margin-right: 165px;
        margin-bottom: 60px;
    }

    @media screen and (min-width:1200px) {
            margin-right: 70px;
            display: block;
            margin-bottom: 0;
            margin-left: 0;
        }
}

.address__box {
    font-style: inherit;
    // padding-top: 11px;
    letter-spacing: 0, 03em;
    line-height: 24px;

@media screen and (min-width:1200px) {
    padding-top: 20px;
}

}

.address__list {
    list-style-type: none;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--white);
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.address__link {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    color: var(--white);
    filter: opacity(60%);
    line-height: 24px;

    &:hover {
        color: var(--light-blue);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
        color: var(--light-blue);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}