.header {
    border-bottom: 1px solid var(--border-color);

    .container {
        display: flex;
        align-items: center;
    }
}

.header__contact-link {
    text-decoration: none;
    color: var(--light-grey);
    // font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width:765px) {
        display: none;
        }

    @media screen and (min-width:768px) {
        font-size: 12px;
        margin-left: 40px;
        display: all;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        margin-left: 0;
    }

    &:hover {
        color: var(--light-blue);
        --color2: var(--light-blue);
        --color5: var(--light-blue);
    }

    &:focus {
        color: var(--light-blue);
    }
}

.header__contact-list {


    @media screen and (min-width:768px) {
            flex-direction: column;
            align-items: flex-start;
        }

    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: flex-end;
        justify-content: center;
        margin-left: 300px;
    }
    
}

.header__contact-list-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }

    @media screen and (min-width:768px) {
        padding-block: 5px;
    }

    @media screen and (min-width:1200px) {
        padding-block: 0;
    }

    }

.header__contact-icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover {
        fill: #2196f3;
    }

    &:focus {
        fill: #2196f3;
    }
}

