.navigation__link {
    text-decoration: none;
    color: var(--carbon);
    font-size: 14px;
    line-height: 1.17;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--light-blue);

        &::after {
            width: 100%;
        }
    }

    &:focus {
        color: var(--light-blue);
    }

    &::after {
        content: "";
        position: absolute;
        background-color: var(--light-blue);
        height: 4px;
        width: 100%;
        bottom: -32px;
        left: 0;
        width: 0;
    }
}

.navigation__list {
    display: inline-flex;
    align-content: center;
    letter-spacing: 0.02em;
    font-weight: 500;

    @media screen and (max-width:765px) {
        display: none;
    }
}

.navigation__list-item {
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    // padding: 23px;

    @media screen and (min-width:768px) {
        padding: 0;
        padding-right: 60px;

    }

    @media screen and (min-width:768px) {
        padding: 0;
        padding-right: 46px;

        &:last-child {
                padding: 0;
            }
    }
}

.navigation__menu-btn {
    display: flex;
    display: inline-flex;
    border: 0;
    background-color: var(--white);
    padding: 0;
    // margin-right: 15px;
    cursor: pointer;

    &:hover {
            fill: #2196f3;
        }
    
        &:focus {
            fill: #2196f3;
        }
}

.navigation__menu-icon {
    // margin-top: 5px;

    @media screen and (min-width:768px) {
        display: none;
    }

    @media screen and (min-width:1200) {
        display: none;
    }
}

.navigation__logo {
    display:flex;
    align-items: center;
}