.newsletter {
    margin-top: 60px;
    
    @media screen and (min-width:768px) {
        margin-inline: auto;
        margin-top: 0;
    }

    @media screen and (min-width:1200px) {
        margin-top: 0;
        
    }
}


.newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @media screen and (min-width:1200px) {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

.newsletter__label {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    // margin-left: 78px;
    color: var(--white);

    @media screen and (min-width:1200px) {
        margin-left: 78px;
        text-align: left;
    }
}

.newsletter__input {
    height: 50px;
    width: 100%;
    border: 1px solid var(--border-email);
    border-radius: 4px;
    background: var(--dark-grey);
    color: var(--input-color);
    // margin-left: 78px;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    color: var(--input-color);

    @media screen and (min-width:768px) {
            width: 450px;
        }

    @media screen and (min-width:1200px) {
        margin-left: 78px;
        width: 358px;
    }
}

.newsletter__button {
    height: 50px;
    width: 200px;
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px var(--box-shadow);
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    // margin-left: 12px;
    cursor: pointer;
    margin-top: 20px;

    @media screen and (min-width:1200px) {
        margin-top: 0;
        margin-left: 12px;
    }
}

.newsletter__button-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    color: var(--white);
    margin-left: 42px;
}

.newsletter__button-icon {
    fill: var(--white);
    margin-left: 24px;
}